
#midashi1 {
    color: rgb(0, 255, 30);
    background-color: rgba(0, 0, 0, 0.032);
    text-align:center;
    margin-top: 0px;
}

#midashi2-2{
    color:yellow
}

#box {
  width: 280px;
  height: 150px;
  padding: 10px;
  border: 1px solid gray;
  background-color: rgb(210, 232, 247);
  box-sizing: border-box;
}
#box li {
  margin-top: 3px;
  margin-left: 10px;
}

ol {
  list-style: none;
}
span {
  display: inline-block;
  width: 35px;
  height: 35px;
  margin: 5px 8px 0 0;
  padding-top: 5px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid yellow;
  background-color: yellow;
  box-sizing: border-box;
}
    