
h1 {
    color: rgb(0, 255, 30);
    background-color: rgba(0, 0, 0, 0.032);
    text-align:center;
    margin-top: 0px;
}
.soccer {
    color:blue;
}
#midashi3 {
    color:yellow
}
    